@use '../../styles/partials/breakpoints' as *;

.slider-container {
  height: 780px;
  overflow: hidden;
 @include desktop{

   .carousel-item {
     img {
       object-fit: cover;
       height: 100%;
       width: 100%;
     }
   }
 }
}
